<link href="/views/partials/nav.css" rel="stylesheet" type="text/css">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Creative Heartbeats Retreats</a>
        <!-- <a class="btn btn-primary" href="#">Sign In</a> -->
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="host.html">Host a Retreat</a></li>
          <li><a href="attend.html">Attend a Retreat</a></li>
          <li><a href="photos.html">Photos</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <a class='active right-margin3' href='signUp.html'>Sign Up</a>
        <a class='active' href='signIn.html'>Sign In</a>
      </div>
    </nav>