<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative Heartbeats Retreats | Attend</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/landing-page.css" rel="stylesheet">
  <!-- <link href="nav.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <!-- Navigation -->

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-12"> -->
          <!-- <h1 class="mb-5">Find your retreat</h1> -->
        <!-- </div> -->
        <div class="col-md-12 col-lg-8 col-xl-7 mx-auto">
          <!-- <form> -->
            <div class="form-row">
              <div class="col-lg-12 col-md-9">
                <!-- <input type="email" class="form-control form-control-lg" placeholder="Enter your email..."> -->
                <!-- This templates was made by Colorlib (https://colorlib.com) -->
            <html>
                <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="author" content="colorlib.com">
                <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
                <link href="searchbar/css/main.css" rel="stylesheet" />
                </head>
                <body>
                <div class="s002">
                    <form action='/displaySearch' method='GET'>
                    <fieldset>
                        <p id='intro'>Welcome to the 'AirBnb' of creative retreats. My life experiences lead me to believe that everyone is born creative in some way, shape or form. Everyone has an inner artist. So come find exciting creative retreats to unleash your inner artist, or post retreats to share you artistic experience with others.  </p>
                        <legend>FIND YOUR RETREAT</legend>
                    </fieldset>
                    <div class="inner-form">
                        <div class="input-field first-wrap">
                        <div class='choices__inner'>
                        <select id='type' name="type">
                            <option class='choices__inner' value='paint'>Paint & Draw</option>
                            <option value='fabric'>Fabric Arts</option>
                            <option value='floral'>Floral</option>
                            <option value='Other'>Other</option>
                            <!-- <option value='needle'>Needle Craft</option> -->
                            <!-- <option value='paper'>Paper Crafts</option> -->
                            <!-- <option value='food'>Food Art</option> -->
                            <!-- <option value='furniture'>Furniture</option> -->
                            <!-- <option value='design'>Design</option> -->
                        </select>
                        </div>
                        </div>  
                        <div class="input-field second-wrap">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                            </svg>
                        </div>
                        <input class="datepicker" id="depart" name='start_date' type="text" placeholder="15 March 2020" />
                        </div>
                        <div class="input-field third-wrap">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                            </svg>
                        </div>
                        <input class="datepicker" id="return" name='end_date' type="text" placeholder="18 March 2020" />
                        </div>
                        <div class="input-field fouth-wrap">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                            </svg>
                        </div>
                        <select data-trigger="" name="choices-single-defaul">
                            <option value=1>1 Adult</option>
                            <option value=2>2 Adults</option>
                            <option value=3>3 Adults</option>
                            <option value=4>4 Adults</option>
                            <option value=5>5 Adults</option>
                        </select>
                        </div>
                        <div class="input-field fifth-wrap">
                        <button class="btn-search" type="submit">SEARCH</button>
                        </div>
                    </div>
                    </form>
                </div>
                <script src="searchbar/js/extention/choices.js"></script>
                <script src="searchbar/js/extention/flatpickr.js"></script>
                <script>
                    flatpickr(".datepicker",
                    {});
            
                </script>
                <script>
                    const choices = new Choices('[data-trigger]',
                    {
                    searchEnabled: false,
                    itemSelectText: '',
                    });
            
                </script>
                </body>
            </html>
  
              </div>
              <!-- <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div> -->
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, dui ac mollis pulvinar, ipsum neque facilisis lacus, eget efficitur purus est sit amet diam. Cras dignissim ligula in enim cursus, vel vestibulum ligula pellentesque. "</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, dui ac mollis pulvinar, ipsum neque facilisis lacus, eget efficitur purus est sit amet diam. Cras dignissim ligula in enim cursus, vel vestibulum ligula pellentesque."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus, dui ac mollis pulvinar, ipsum neque facilisis lacus, eget efficitur purus est sit amet diam. Cras dignissim ligula in enim cursus, vel vestibulum ligula pellentesque. "</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
      <div class="col-lg-12 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          <!-- </ul> -->
        <!-- </div>
        <div class="col-lg-12 h-100 text-center text-lg-left my-auto"> -->
          <!-- <ul class="list-inline mb-2"> -->
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
