<!DOCTYPE html>
<html>
<head>
<style>

</style>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link href="css/landing-page.min.css" rel="stylesheet">
<!-- <link href="nav.css" rel="stylesheet" type="text/css"> -->
</head>
<body>
<link href="nav.css" rel="stylesheet" type="text/css">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Creative Heartbeats Retreats</a>
        <!-- <a class="btn btn-primary" href="#">Sign In</a> -->
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="host.html">Host a Retreat</a></li>
          <li><a href="attend.html">Attend a Retreat</a></li>
          <li><a href="photos.html">Photos</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <a class='active right-margin3' href='signUp.html'>Sign Up</a>
      <a class='active' href='signIn.html'>Sign In</a>
    </nav>
  <br><br><br>
<h1>Photos</h1>

<p>Photos from some of the retreats that you can attend!</p>
<!-- idea from w3 schools -->
<div class="row">
  <div class="column">
    <img src="images/Image 2-5-20 at 6.13 PM (1).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.13 PM.jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.17 PM.jpeg" alt=''>
  </div>
  <div class="column">
    <img src="images/Image 2-5-20 at 6.16 PM (1).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.16 PM (2).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.18 PM (1).jpeg" alt=''>
  </div>
  <div class="column">
    <img src="images/Image 2-5-20 at 6.16 PM (3).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.16 PM (4).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.16 PM (5).jpeg" alt=''>
  </div>
  <div class="column">
    <img src="images/Image 2-5-20 at 6.18 PM (5).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.18 PM (6).jpeg" alt=''>
    <img src="images/Image 2-5-20 at 6.18 PM (2).jpeg" alt=''>
  </div>
</div>

</body>
</html> 
 